#estimate-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 100px;

    label {
      margin-bottom: 5px;
    }

    input {
      height: 40px;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 0 12px;

      &[type=radio] {
        height: initial;
        margin-bottom: 0;
      }
    }
  }

  #estimate {
    text-align: center;
  }

  .service-types {
    display: grid;
    grid: auto-flow / 133px 133px 2fr;
    grid-gap: 10px;
  }

  .service-type {
    border-radius: 15px;
    border: 3px solid #163c91;
    color: #163c91;
    padding: 10px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: larger;
    font-weight: bold;

    &.selected {
      border-color: white;
      background: #163c91;
      color: white;
    }

    svg {
      fill: rgb(22, 60, 145);
      margin-top: 5px;
    }
  }
}
