---
import EstimateTool from './react/components/EstimateTool/EstimateTool';
---

<h1 id="estimate-title">Build Your Estimate</h1>
<EstimateTool client:load />

<style>
  #estimate-title {
    text-align: center;
  }
</style>
