---
import haLogo from '../assets/logo.png';
---

<div id="container">
	<banner>
		<section id="logo">
			<a href="https://haulamerican.us"
				><img src={haLogo.src} width="250px" alt="Haul American Homepage" /></a
			>
		</section>
		<section id="contact-phone">
		  <a href="tel:5551234567">555-123-4567</a>
		</section>
	</banner>
	<section id="hero">
  	<h1 id="tag">We haul it all! Now servicing El Paso County and Teller County</h1>
	</section>
	<main>
		<section id="services">
			<h2>Services</h2>
			<div>
			  <p>Full-service hauling</p>
				<p>Trash mitigation</p>
				<p>Demolition</p>
				<p>Construction debris</p>
				<p>Home cleanups</p>
				<p>Jobsite management</p>
			</div>
		</section>
	</main>
	<footer>
		© 2026 Haul American
	</footer>
</div>

<style>
	banner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 50px 0 50px;
	}

	@media screen and (width <= 586px) {
		banner {
			align-items: center;
			flex-direction: column;

			#logo {
				margin-bottom: 15px;
			}
		}
	}

	@media screen and (width <= 1165px) {
		#tag {
			font-size: initial !important;
			text-align: center;
		}
	}

	#contact-phone {
		display: flex;
		align-items: center;

		a {
			color: #163c91;
			font-size: 40px;
			font-weight: bold;
			text-decoration: none;
		}
	}

	#container {
		/* font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; */
		font-family: 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		max-width: 1200px;
		/* height: 100%; */
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		text-align: center;
		background: #163c91;
		color: white;
		padding: 15px 0;
	}

	#hero {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100px;
		/* background: #163c91; */
		background: #f95e3a;
		align-items: center;
	}

	#tag {
		margin: 0;
		font-size: 40px;
		color: white;
	}

	#services {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		color: #111827;
		font-size: 20px;
	}

	p {
		/* color: #4b5563; */
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
