---
import { Image } from 'astro:assets';
import haLogo from '../assets/logo.png';
---

<div id="container">
	<banner>
		<section id="logo">
			<a href="https://haulamerican.us">
				<!-- <Image src={haLogo} width="250" alt="Haul American Homepage" /> -->
				 <img src="/logo.png" width="250" alt="Haul American Homepage" />
			</a>
		</section>
		<section id="contact-phone">
		  <a href="tel:7192662620">719.266.2620</a>
		</section>
	</banner>
	<section id="hero">
  	<h1 id="tag">We haul it all! Now servicing El Paso County and Teller County</h1>
	</section>
	<main>
		<section id="about">
			<div class="section-container">
				<div id="company-description">
				  <h1 id="inline-name">Haul American</h1>	provides reliable, full-service hauling solutions tailored to the needs of
					  homeowners, horse owners, hobby farmers, ranchers, and businesses throughout
					  Colorado Springs, El Paso County, Teller County, and the surrounding Pikes Peak
					  region, including Black Forest, Monument, Woodland Park, Falcon, Peyton, and more.
					  We specialize in two core services designed for convenience, affordability, and minimal
					  hassle.
				</div>
			</div>
		</section>
		<section id="second-section">
			<div class="section-container">
				<h1>Full-Service Demolition and Junk Removal</h1>
				<p class="section-description">
					We handle your heavy lifting. Our professional crew removes unwanted items
          from your residence, commercial property, or estate … including furniture,
          appliances, mattresses and tires (yes … those things others aren’t willing to
          haul!), electronics, hot tubs, yard waste (branches, brush, green waste),
          construction/demolition debris, and more. We offer everything from single-item
          pickups and same-day service to complete garage/estate cleanouts,
          foreclosure/eviction cleanouts, and renovation trash hauling. As a locally and
          family owned, we pride ourselves on transparent upfront pricing, with no-
          obligation, no-pressure quotes via text (or website pricing tool, coming soon),
          licensed & insured operations, courteous uniformed crews, and no hidden fees.
          We leave everything tidy, and work around your lifestyle, including tight
          driveways, dirt roads, and tricky mountain access.
				</p>
			</div>
		</section>
		<section>
			<div class="section-container">
				<h1>Small-Load Hay Delivery & Stacking</h1>
				<p class="section-description">
					Whether you're a backyard horse owner, hobby farm enthusiast, or your
          managing an entire ranch, we make it easy to get quality hay delivered directly to
          you. We neatly stack small to medium loads of premium hay in your barn, stable,
          or storage area. We pride ourselves on absolutely no delivery minimums, which is
          perfect for the 1–99+ bale jobs that larger feed outlets won’t service. Our team
          handles unloading and stacking to save your back and time … ideal for rural
          properties, tight access spots, or anyone without a truck and trailer. Or you may
          normally haul your own hay, but life has got busy and you just need help in a
          pinch! We offer flexible scheduling, including weekends and emergency options
          when available.
				</p>
			</div>
		</section>
		<section style="text-align: center;">
			<h1>
				Ready to clear space, clean up that construction site, or stock up on hay? Contact us
        today for a no cost and no-obligation quote … call, text, or book online. We make it
        simple, stress-free, and neighborly!
			</h1>
		</section>
	</main>
	<footer>
		© 2026 Haul American
	</footer>
</div>

<style>
	banner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 50px 0 50px;
	}

  /* Large screens */
	@media screen and (width >= 1500px) {
		.section-container {
			max-width: 1500px !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	/* Mobile */
	@media screen and (width <= 586px) {
		banner {
			align-items: center;
			flex-direction: column;

			#logo {
				margin-bottom: 15px;
			}
		}

		section {
			min-height: initial;
			margin: unset !important;
			padding: 0 20px;
			text-align: unset !important;

			.section-container {
				margin: unset !important;
			}
		}
	}

	/* Header for smaller screens */
	@media screen and (width <= 1201px) {
		#tag {
			font-size: 180% !important;
			text-align: center;
		}
	}

	@media screen and (width <= 655px) {
		#tag {
			font-size: initial !important;
		}

		#inline-name {
			margin-top: 38px !important;
		}
	}

	#contact-phone {
		display: flex;
		align-items: center;

		a {
			color: #163c91;
			font-size: 40px;
			font-weight: bold;
			text-decoration: none;
		}
	}

	#container {
		/* font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; */
		font-family: 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		display: flex;
		flex-direction: column;

		section {
			min-height: 220px;
			padding-bottom: 30px;

			&:last-child {
				min-height: initial;
			}

			.section-container {
				margin-top: 40px;
			}

			.section-description {
				max-width: 800px;
			}

			h1 {
			  margin-top: 20px;
			}
		}

		section:nth-child(odd) {
			background: #163c91;
		  color: #fafafa;

			.section-container {
				margin-left: 40px;
			}

			.section-description {
  	    margin-right: auto;
	    }
		}

		section:nth-child(even) {
		  text-align: right;

			.section-container {
				margin-right: 40px;
			}

			.section-description {
  	    margin-left: auto;
	    }
		}
	}

	#second-section {
		background-image: url('haulamerican-truck3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		font-weight: bolder;
	}

	footer {
		text-align: center;
		background: #163c91;
		color: white;
		padding: 15px 0;
	}

	#hero {
		display: flex;
		justify-content: center;
		height: 100px;
		background: #f95e3a;
		align-items: center;
	}

	#tag {
		margin: 0;
		font-size: 40px;
		color: white;
	}

	#company-description {
		max-width: 800px;
		line-height: 24px;
	}

  #inline-name {
		display: inline-block;
		margin: 0;
		font-size: 280%;
		font-weight: normal;
		line-height: 24px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	h2 {
		color: #111827;
		font-size: 20px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}
</style>
