<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
		  name="description"
			content="Fast and efficient trash hauling in Colorado Springs
			  and El Paso County. We do the dirty work so that you don't
				have to, commercial or residential."
		>
		<link rel="icon" href="/favicon.png" />
		<title>Haul American - Fast and efficient trash hauling in Colorado Springs and El Paso County</title>
		<link rel="canonical" href="https://haulamerican.us/" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
